@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
}

.header_menu ul li a {
    margin: 0 10px;
    font-size: .875rem;
    color: #66768E;
    font-weight: 400;
}
.header_menu .nav_search {
    display: flex;
    align-items: center;
}

.header_menu .fa-search {
  margin-right: 20px;
  padding: .5rem;
  border-radius: 12px;
  border: 1px solid #E5ECF6;
  background-color: #fff;
}

.header_menu .notification {
 margin-right: 20px;
 border-radius: 12px;
 border: 1px solid #E5ECF6;
 background-color: #fff;
 position: relative;
}

.header_menu .fa-bell {
    padding: .5rem;
}

.header_menu .notification span{
    top: -10px;
    right: -8px;
    position: absolute;
    background-color: red;
    color: white;
    width: 24px;
    height: 24px;
    font-size: 1rem;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-image {
    position: relative;
    display: inline-block;
}

.profile-image ul {
    position: absolute;
	left: -150px;
	top: 140%;
	width: 200px;
    padding: 20px 0;
	visibility: hidden;
	opacity: 0;
    border-radius: 8px;
    border: 1px solid  #E5ECF6;
    background:  #FFF;
	box-shadow: -20px 20px 40px -4px rgba(145, 158, 171, 0.24), 0px 0px 2px 0px rgba(145, 158, 171, 0.24);
	transition: .3s ease-in-out;
	z-index: 99;
}

.profile-image img {
    border: 1px solid blue;
    border-radius: 12px;
    cursor: pointer;
}

.profile-image ul li {
    padding: 5px;
}

.profile-image ul li a{
    font-size: 1rem;
    text-decoration: none;
    color: #2F3A4C;
}

.profile-image:hover ul {
    visibility: visible;
	opacity: 1;
	top: 100%;
}

.main ul {
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #E5ECF6;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 0 !important;
}

.main ul li button {
    background: transparent !important;
}

.main .nav-pills .nav-link.active {
    color: #141414;
    border-radius: 0;
    border-bottom: 1px solid #294CFF;
}

.main-second-part {
    margin: 0 auto;
    border: 1px solid #E5ECF6;
    background-color: #fff;
    border-radius: 8px;
    padding: 50px 30px;
}
.logo-box-section {
    border: 1px solid #E5ECF6 ;
    border-radius: 8px;
    background: #fff;
    margin-left: 150px;
    padding: 24px;
}

.logo-box-section h4 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 18px;
    color: #101828;
    padding-bottom: 8px;
}

.logo-box-section p {
    font-size: .875rem;
    font-weight: 400;
    line-height: 20px;
    color: #5E6B80;
    padding-bottom: 16px;
}
.logo-box-section img {
    padding-bottom: 24px;
}

.color-picker-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: .2rem 0;
}

.color-picker-box h4 {
    margin-bottom: 0.5rem;
}

.color-picker-box p {
    margin-bottom: 0.5rem;
}


.color-picker-box .colorPicker {
    width: 18px;
    height: 18px;
    padding: 15px;
    margin-bottom: 10px;
    padding-left: 20px;
    background-image: url('../images/Vector.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border: 1px solid #E5ECF6;
}

.color-picker-box p {
    font-size: .800rem;
}

.login-page-theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: .5rem 0;
    position: relative;
}

.login-page-theme span {
    top: 36px;
    right: 0;
    color: #32BCA3;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
}

.login-page-theme p {
    font-size: 1rem;
    line-height: 20px;
}

.left-side-section {
    padding: 1.5rem;
    margin-left: 150px;
    border: 1px solid #E5ECF6;
    background-color: #fff;
}

.left-side-section  h4 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #101828;
    padding-bottom: 0px;
    margin-bottom: 0rem !important;
}
.left-side-section p {
    font-size: .775rem;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #5E6B80;
    padding: .5rem 0;
    margin-bottom: 0;
}
.left-side-section img {
    padding-left: 0px !important;
    width: 200px;
    height: 150px;
    padding: 1rem;
    border-radius: 8px;
}

.upload-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

.file-input {
    display: none;
}

.file-input-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

.file-input-label {
    position: relative;
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 30px 45px;
    border: 1px dashed #ccc;
    background-color: #f1f1f1;
    border-radius: 8px;
}

.file-input-label span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    top: 62px;
    right: 42px;
    color: #003cff;
}

.file-input-label h4 {
    color: #5E6B80;
    font-size: 10px;
    font-weight: 400;
}

.file-input-label img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 35px;
    height: 50px;
    font-size: 12px;
    margin-right: 14px;
}

.footer-button {
    text-align: right;
  }

  .footer-button .cancel-btn {
    color: #344054;
    background: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    border: 0;
    border-radius: 6px;
    padding: 10px 18px;
    border: 1p solid #D0D5DD;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }

  .footer-button .save-btn {
    color: #fff;
    background-color: #294CFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    border: 0;
    border-radius: 6px;
    padding: 10px 18px;
    border: 1p solid #D0D5DD;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }

  .right-side-section {
    border: 1px solid #E5ECF6 ;
    border-radius: 8px;
    background: #fff;
    padding: 24px;
    width: 350px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
  }

  .right-side-section h6 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #101828;
 }

 .right-side-section p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #5E6B80;
    padding: .5rem 0;
 }

 .right-title-input {
    padding: 16px 0;
 }
 .right-title-input p {
    color: #101828;
    font-size: 16px;
    font-weight: 500;
 }

 .right-title-input input {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #E5ECF6;
    background-color: #EFEFEF;
 }

.input-box-container {
    width: 350px;
    padding: 24px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
}

.input-box-container h6 {
    font-size: 1.2rem;
    color: #101828;
}

.input-box-container p {
    font-size: 1rem;
    color: #5E6B80;
}

.upload-wrapper-favicon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}
.file-input-favicon {
    display: none;
}

.favicon-input-label {
    position: relative;
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 30px 25px;
    border: 1px dashed #ccc;
    background-color: #f1f1f1;
    border-radius: 8px;
}
.favicon-input-label img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 12px;
}
.favicon-input-label h4 {
    margin-top: 5px;
    font-size: 12px;
    color: blue;
    margin-bottom: 0px;
}

.favicon-input-label span {
    font-size: 12px;
    color: #5E6B80;
}

.favicon-input-label .image-size {

}



@media (max-width: 575.98px) { 
    .profile-image ul {
        position: absolute;
        left: 10px !important;
        top: 140%;
        width: 200px;
    }
    .left-side-section {
        padding: 1.5rem;
        margin-left: 16px;
    }
    .logo-box-section {
        margin-left: 16px;
        padding: 10px;
    }
    .login-page-theme {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .login-page-theme span {
        top: 148px;
        right: 90px;
        position: absolute;
    }

    .login-page-theme div {
        text-align: center;
    }
    .file-input-label span {
        position: absolute;
        top: 62px !important;
        right: 42px !important;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .profile-image ul {
        position: absolute;
        left: 10px !important;
        top: 140%;
        width: 200px;
    }
    .left-side-section {
        padding: 1.5rem;
        margin-left: 16px;
    }
    .logo-box-section {
        margin-left: 16px;
        padding: 10px;
    }
    .login-page-theme {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .login-page-theme span {
        top: 148px;
        position: absolute;
        left: 0;
    }

    .login-page-theme div {
        text-align: center;
        padding: 0 50px;
    }
    .file-input-label span {
        position: absolute;
        top: 62px;
        right: 0;
    }
    .right-side-section {
        margin: 0 auto;
    }
    .input-box-container {
        margin: 0 auto;
    }
}

@media (min-width: 768px) and (max-width:991.98px) {
    .profile-image ul {
        position: absolute;
        left: 10px !important;
        top: 140%;
        width: 200px;
    }
    .left-side-section {
        padding: 1.5rem;
        margin-left: 16px;
    }
    .logo-box-section {
        margin-left: 16px;
        padding: 10px;
    }
    .login-page-theme {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .login-page-theme span {
        top: 148px;
        position: absolute;
        left: 0;
    }

    .login-page-theme div {
        text-align: center;
        padding: 0 50px;
    }
    .file-input-label span {
        position: absolute;
        top: 62px;
        right: 0;
    }
}



@media (min-width: 992px) and (max-width: 1199.98px) {
    .logo-box-section {
        margin-left: 16px;
        padding: 24px;
    }
    .left-side-section {
        padding: 1.5rem;
        margin-left: 16px;
    }
    .login-page-theme span {
        top: 27px;
        right: 6px;
    }
    .file-input-label img {
        width: 35px;
        height: 50px;
        font-size: 12px;
        margin-right: 3px;
    }
    .file-input-label span {
        right: 31px !important;
        top: 63px !important;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .file-input-label img {
        width: 35px;
        height: 50px;
        font-size: 12px;
        margin-right: 0px;
    }
    .file-input-label span {
        right: 25px !important;
        top: 63px !important;
    }
    .login-page-theme span {
        top: 29px;
        font-size: .8rem;
        right: 0;
    }
    .file-input-label h4 {
        margin-left: 6px;
    }
}

@media (min-width: 1400px) {

}